* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Arial', sans-serif;
    color: #fffed3;
}

main {
    display: flex;
    flex-wrap: wrap;
}
.top {
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}
table {
    border-spacing: 13px;
}
.col1 {
    padding: 10px;
    width: 210px;
    border-radius: 10px;
    text-align: center;
}
.yellow {
    height: 5vh;
    background-color: #ffc000;
}
.lime {
    height: 4vh;
    background-color: #c3d213;
}
.brown {
    height: 5vh;
    background-color: #cd9632;
}
.red {
    background-color: #b53031
} 

.blue {
    height: 50vh;
    width: 90px;
    border-radius: 10%;
    background-color: #0596c3;
    font-size: 25px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg)
}
.list {
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 420px;
}

.list2 {
    display: flex;
}
.left {
    width: 100px;
}
